header{
background-color: #F63232;
padding: 20px;
text-align: center;
position: fixed;
width: 100%;
/* pushes the content forward. by default this is 0 */
z-index: 1;
/* 0 from the top of the page. hugs the top of the page so no white spaces show */
top:0;
/* 0 from the left of the page. hugs the left of the page so no white spaces show */
left:0;
}
header h1{
  color: white;
  border: 8px solid white;
 /* TRBL Top/Bottom Right/Left */
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
}
.banner{
  position: relative;
}
.banner img{
  /* 100% width of the parent of that's not been set then 100% width of the viewport */
  max-width: 100%;
}
.banner .welcome{
  background-color: #FEB614;
  color: white;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 30%;
}
.banner h2{
  font-size: 74px;
}
.banner h2 span{
  /* takes the font-size it inherits from the parent -> 74px * 1.3 */
  font-size: 1.3em;
}
